<!-- <ion-header>
  <ion-toolbar>
    <ion-title>chat</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen class="background">

  <ion-grid>

    <ion-row *ngFor="let message of messages">

      <ion-col size="9" *ngIf="message.userId !== userProfile.uid" class="message incoming">
        <b>{{ message.firstName }}</b> <br />
        <span>{{ message.text }}</span>
        <div class="time">{{ message.date | date: "dd/MM/yy HH:mm" }}</div>
      </ion-col>

      <ion-col offset="3" size="9" *ngIf="message.userId === userProfile.uid" class="message sent">
        <b>{{ message.firstName }}</b> <br />
        <span>{{ message.text }}</span>
        <div class="time">{{ message.date | date: "dd/MM/yy HH:mm" }}</div>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid #content>

  </ion-grid>
</ion-content>

<ion-footer *ngIf="connected">
  <!-- <ion-grid>
    <ion-row>
      <ion-col size="10" class="input-col">
        <ion-input autocomplete="true" spellcheck="true" [(ngModel)]="messageText" type="text"
          placeholder="Sua mensagem..." name="message"></ion-input>
      </ion-col>
      <ion-col size="2" class="send-col">
        <ion-button shape="full" (click)="sendMessage()">
          <ion-icon name="paper-plane"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center ion-no-padding">
      <ion-col size="10">
        <textarea autosize maxRows="3" autocomplete="true" spellcheck="true" class="msg-input"
          [(ngModel)]="messageText" type="text" placeholder="Sua mensagem..." name="message"></textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="messageText === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="paper-plane" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>