<!-- <ion-header>
  <ion-toolbar>
    <ion-title>EventPhoto </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Puxe para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-card class="welcome-card">
    <ion-card-title translate>Contagem Regressiva para a banca</ion-card-title>
  </ion-card>

  <ion-card class="welcome-card">
    <ion-card-title id="demo"></ion-card-title>
  </ion-card> -->

  <!-- fake -->
  <ion-card *ngIf="!depoimentos.length">
    <ion-skeleton-text animated style="height: 180px"></ion-skeleton-text>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="!depoimentos.length">
    <ion-skeleton-text animated style="height: 180px"></ion-skeleton-text>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
      </ion-card-subtitle>
      <ion-card-title>
        <ion-skeleton-text animated style="width: 55%"></ion-skeleton-text>
      </ion-card-title>
    </ion-card-header>
  </ion-card>
  <!-- end fake -->

  <!-- <ion-card class="welcome-card" *ngFor="let item of depoimentos">
    <img *ngIf="item.foto" src="{{ item.foto }}" />
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>{{ item.nomeUsuario }}</ion-card-title>
      <p>{{ item.data | date: "dd/MM/yyyy HH:mm:ss" }}</p>
    </ion-card-header>
    <ion-card-content>
      <p>{{ item.eventPhoto }}</p>
    </ion-card-content>
  </ion-card> -->

  <ion-card *ngFor="let item of depoimentos">
    <img src="{{ item.foto }}" />
    <ion-card-header>

      <ion-card-subtitle>{{ item.data | date: "dd/MM/yyyy HH:mm" }}</ion-card-subtitle>
      <h4 style="color: black; margin: 0">{{ item.nomeUsuario }}</h4>
      <p>{{ item.eventPhoto }}</p>
    </ion-card-header>
    <ion-grid>
      <ion-row class="ion-justify-content-around">
        <ion-col>
          <ion-button (click)="addLike(item)" expand="block" fill="clear">
            <ion-icon slot="start" src="assets/icon/clapping.svg"></ion-icon>
            <ion-badge color="danger">{{ item.likes }}</ion-badge>
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" fill="clear" [routerLink]="['/comments', item.id]">
            <ion-icon slot="icon-only" name="text"></ion-icon>
            <ion-badge color="danger">{{ item.comments?.length }}</ion-badge>
          </ion-button>
        </ion-col>

        <ion-col>
          <ion-button expand="block" fill="clear">
            <ion-icon slot="icon-only" name="share-alt"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="light" routerLink="/message">
      <ion-icon name="cloud-upload"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>