<ion-header>
  <ion-toolbar>
    <ion-title>photos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let item of fotos">
    <img *ngIf="item.foto" src="{{ item.foto }}" />
    <ion-card-header>
      <ion-card-subtitle>{{ item.data | date: 'dd/MM/yyyy hh:mm:ss' }}</ion-card-subtitle>
      <ion-card-title>{{item.nomeUsuario}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-item style="display: none">
    <input type="file" id="imagensDepoimento" (change)="onChange($event)" accept=".jpg, .png" />
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openFileBrowser($event, 'imagensDepoimento')">
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>