<ion-header no-border>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <ion-card>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/keepsakeapp-a3852.appspot.com/o/home%2Fprimeiro-dia-960x540.jpg?alt=media&token=acb5d387-0538-4a65-ab2b-c48d5940817f" />
    <ion-card-header>
      <ion-card-subtitle>Primeiro dia na Faculdade!</ion-card-subtitle>
      <ion-card-title>Gama - DF</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Muita ansiedade para adquirir e compartilhar conhecimento.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/keepsakeapp-a3852.appspot.com/o/home%2Ffaculdade-e-so-o-comeco-960x540.jpg?alt=media&token=fa94887c-1209-48a3-9485-20564cc917f4" />
    <ion-card-header>
      <ion-card-subtitle>Estudar sempre!</ion-card-subtitle>
      <ion-card-title>Gama - DF</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Faculdade é apenas o começo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img
      src="https://firebasestorage.googleapis.com/v0/b/keepsakeapp-a3852.appspot.com/o/home%2Fmbr-1920x1079.jpg?alt=media&token=808c75a2-6595-46fb-a8c7-1e64662bb5dd" />
    <ion-card-header>
      <ion-card-subtitle>Enfim o grande dia!</ion-card-subtitle>
      <ion-card-title>Brasília - DF</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Por mais difícil que seja, nunca deixe de acreditar em dias melhores.
    </ion-card-content>
  </ion-card>

  <ion-card>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/keepsakeapp-a3852.appspot.com/o/home%2Fsilicon-valley-960x720.jpg?alt=media&token=6a6f8878-283c-4d47-96e0-7f9c18f32c3d" />
      <ion-card-header>
        <ion-card-subtitle>Partiu Silicon Valley!</ion-card-subtitle>
        <ion-card-title>San Francisco - CA</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Prontos para a próxima parada?
      </ion-card-content>
    </ion-card>

  <!--  <ion-card class="card">
    <img src="https://firebasestorage.googleapis.com/v0/b/ana-b-day.appspot.com/o/pr%C3%A9via%2F02b6bdd4-0767-427f-b723-acce476e27bd.jpeg?alt=media&token=3a0aec2b-bdd2-443c-ae0f-06e429165177" />
    <ion-card-header>
      <ion-card-subtitle>Destination</ion-card-subtitle>
      <ion-card-title>Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis reprehenderit dolores cupiditate dolorum
        quia dolore at harum laudantium quo quis! Consectetur asperiores fuga officia! Hic earum voluptates quis sed
        nisi!</p>
        <br>
        <ion-button shape="round" expand="block">Compartilhar</ion-button>

    </ion-card-content>
  </ion-card> -->

</ion-content>